.menu {
	margin-bottom: 50px;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	display: flex;
	justify-content: space-around;
	background-color: #eae9e9;
}

.menu ul div {
	display: flex;
	justify-content: space-between;
}

.menu li {
	margin: 0;
}

.menu a {
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.menu a:hover {
	background-color: #dddddd;
}