.wrapper {
	max-width: 900px;
	margin: auto;
}

.todosOptions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todosNotFound {
	text-align: center;
	margin-top: 25px;
	font-size: 28px;
	font-weight: 500;
}